@charset "UTF-8";
#board {
	margin: 0 auto;
	width: 90%;
	height: 600px;
	display: block;
}
table {
	margin: 0 auto;
	width: 100%;
	height: 600px;
	border-collapse: collapse;
	margin-bottom: 10px;
	background-color: #FFF8DC;
}

th {
	height: 50px;
}

tr {
	height: 50px;
	text-align: center;
}

td {
	min-height: 50px;
	text-align: center;
}
tr:hover {
	background-color: #F0F8FF; 
}

#r1 {
	width: 10%;
}

#r2 {
	width: 20%;
}

#r3 {
	width: 40%;
	text-align: left;
}
#boardTable {
	height: 600px;
}
#pagination {
	margin: 0 auto;
	width: 100%;
	height: 30px;
	text-align: center;
	line-height: 30px;
}
small {
	color: purple;
	background-color: white;
}
h2 {
	border-bottom: 2px solid black;
	text-align: center;
}
#noticeform{
	padding-left: 20%;	
	height: 800px;
}


#noticedetail{
	height: 100%;
	width: 800px;
	float: left;
	margin: 0 auto;
	margin-left: 20px;
}


