<?xml version="1.0" encoding="UTF-8" ?> <!-- 맵퍼파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="ULectureMapper">
	
	<select id = "ULectureList" resultType = "com.learning.User.Form.ULectureForm">
	
		SELECT * FROM lecture_info_view ORDER BY total_register DESC
	
	</select>
	
	<select id = "ULectureDetail" parameterType="String" resultType = "com.learning.User.Form.ULectureForm">
	
		SELECT * FROM lecture_info_view WHERE l_code = #{l_code}
	
	</select>
	<select id="ULectureVideos" parameterType="String" resultType="com.learning.User.Form.VideoForm">
	
		SELECT * FROM lecture_video WHERE l_code = #{l_code}
	
	</select>
	
	<select id="ULectureQnas" parameterType="String" resultType="com.learning.User.Form.ULectureQnaForm">
	
		<!-- SELECT *
			,(SELECT u_nickname FROM user WHERE user.u_id = lecture_qna.u_id) as 'u_nickname'
			,(SELECT COUNT(0) FROM lecture_qna_reply where lecture_qna.lqa_no = lqa_no) as reply_whether
			,(SELECT
				lqa_no as reply_no
				, t_id as t_id
				,(SELECT u_nickname from user where u_id = lecture_qna_reply.t_id) as t_nickname
				,lqar_title as lqar_title
				,lqar_content as lqar_content
				,lqar_date as lqar_date
				FROM lecture_qna_reply 
				where lqa_no = lecture_qna.lqa_no)	
		FROM lecture_qna -->
		SELECT *
				,(SELECT u_nickname FROM user WHERE user.u_id = lecture_qna.u_id) as 'u_nickname'
				,(SELECT COUNT(0) FROM lecture_qna_reply where lecture_qna.lqa_no = lqa_no) as reply_whether
		FROM lecture_qna
		WHERE l_code = #{l_code}
	</select>
	
	<select id="ULectureQnaReplys" parameterType="int" resultType="com.learning.User.Form.ULectureQnaReplyForm">	
		SELECT *
				,(SELECT u_nickname FROM user WHERE user.u_id = lecture_qna_reply.t_id) as t_nickname
		FROM lecture_qna_reply
		WHERE lqa_no = #{lqa_no}
	</select>
	
	<select id="ULectureVideoQnas" parameterType="String" resultType="com.learning.User.Form.ULectureReviewForm">
		SELECT *,
			(SELECT u_nickname FROM user WHERE lecture_review.u_id = user.u_id) as u_nickname
		FROM lecture_review
		WHERE l_code = #{l_code}
		ORDER BY lr_date desc
	</select>
	
	<select id="ULectureVideoQnaReplys">
		
		SELECT * FROM lecture_qna_reply 
		
	</select>
	<select id="ULectureReviews" parameterType="String" resultType="com.learning.User.Form.ULectureReviewForm">
		SELECT *,
			(SELECT u_nickname FROM user WHERE lecture_review.u_id = user.u_id) as u_nickname
		FROM lecture_review
		WHERE l_code = #{l_code}
		ORDER BY lr_date desc
	</select>
	<select id="UCheckAttendance" parameterType="com.learning.User.Form.UserAttendanceForm" resultType="integer">
	
		SELECT COUNT(0) FROM lecture_video_attendance WHERE v_no = #{v_no}, u_id = #{u_id}, l_code = #{l_code}
	
	</select>
	
	<insert id="UVideoAttendance" parameterType="com.learning.User.Form.UserAttendanceForm">
	
		INSERT INTO lecture_video_attendance(v_no,u_id,l_code) VALUES (#{v_no}, u_id = #{u_id}, l_code = #{l_code})
	
	</insert>
	
	<select id="UVideoLectureCheck" parameterType="Integer" resultType="String">
		SELECT l_code FROM lecture_video WHERE v_no = #{v_no}
	</select>
  </mapper>