<?xml version="1.0" encoding="UTF-8" ?> <!-- 맵퍼파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="UserMapper">

	<select id="UserInfo" parameterType="String" resultType="com.learning.DTO.userDTO">
	
		SELECT u_id, u_name, u_email, u_tel FROM user WHERE u_id = #{u_id}
		
	</select>
	
  	<select id="RecentVideo" parameterType = "String" resultType="com.learning.User.Form.UserAttendanceForm">
  		SELECT * FROM user_lecture_video_attendance_info_view
  		where
  			u_id = #{u_id}
  	</select>
  	
  	<select id="RecentLectureVideo" parameterType="com.learning.User.Form.UserAttendanceForm" resultType="Integer">
  	
  		SELECT v_no FROM lecture_video_attendance 
  		WHERE 
  		va_date = 
  			(SELECT  MAX(va_date) 
  			FROM lecture_video_attendance 
  			WHERE u_id = #{u_id} AND l_code = #{l_code})
  	
  	</select>
  
  	<select id="RegistedLecture" parameterType = "String" resultType = "com.learning.User.Form.ULectureForm">
  		
  		SELECT * from user_lecture_view WHERE u_id = #{u_id} ORDER BY p_date DESC
  		
  	</select>
  	
  	<select id="RegistrationList" parameterType="String" resultType="com.learning.User.Form.URegiForm">
  	
  		SELECT * FROM user_lecture_registration WHERE u_id = #{u_id}
  	
  	</select>
  	
  	<select id="vQNAs" parameterType="String" resultType="com.learning.User.Form.ULectureVideoQnaForm">
  	
  		SELECT * FROM lecture_video_qna_and_reply r WHERE u_id = #{u_id} ORDER BY vq_date
  	
  	</select>
  	
  	<select id="UCheckAttendance" parameterType="com.learning.User.Form.UserAttendanceForm" resultType="String">
	
		SELECT va_attendance FROM lecture_video_attendance WHERE v_no = #{v_no} AND u_id = #{u_id} AND l_code = #{l_code}
	
	</select>
	
	<select id="CheckLectureRegist" parameterType="com.learning.User.Form.URegiForm" resultType="int">
	
		SELECT COUNT(0) FROM user_lecture_registration WHERE u_id = #{u_id} AND l_code = #{l_code}
	
	</select>
	
	<insert id="UInsertVideoAttendance" parameterType="com.learning.User.Form.UserAttendanceForm">
	
		INSERT INTO lecture_video_attendance(v_no,u_id,l_code) VALUES (#{v_no}, #{u_id}, #{l_code})
	
	</insert>
	
	<update id="UpdateVideoAttendance" parameterType="com.learning.User.Form.UserAttendanceForm">
	
		UPDATE lecture_video_attendance SET va_attendance = 1, va_date = CURRENT_TIMESTAMP() WHERE v_no = #{v_no} AND u_id = #{u_id} AND l_code = #{l_code}
	
	</update>
	
	<select id="CheckLectureReivew" parameterType="com.learning.User.Form.ULectureReviewForm" resultType="int">
	
		SELECT COUNT(0) FROM lecture_review WHERE u_id = #{u_id} AND l_code = #{l_code}
	
	</select>
	
	<select id="CheckLectureQnaCount" parameterType="com.learning.User.Form.ULectureQnaForm" resultType="int">
	
		SELECT COUNT(0) FROM lecture_qna WHERE u_id = #{u_id} AND l_code = #{l_code}
	
	</select>
	
	<!-- 위시리스트 -->
	
	<select id="WishList" parameterType="String" resultType="com.learning.User.DTO.WishlistDTO">
	
		SELECT
			w.u_id
			, w.l_code
			, l.l_name
			, l.t_id
			, (SELECT u_nickname FROM user WHERE user.u_id = w.u_id) AS t_nickname
			, l.l_price
			, l.l_info
			, l.l_thumbnail
			, l.l_date
			, w.w_date
		FROM
			wishlist w
		JOIN
			lecture l
		ON
			w.l_code = l.l_code
		WHERE
			u_id = #{u_id}
	</select>
	
	<select id="CheckWishList" parameterType="com.learning.User.DTO.WishlistDTO" resultType="Integer">
	
		SELECT COUNT(0) FROM wishlist WHERE u_id = #{u_id} AND l_code = #{l_code}
	
	</select>
	
	<insert id="AddWishlist" parameterType="com.learning.User.DTO.WishlistDTO">
	
		INSERT INTO wishlist(u_id, l_code) VALUES(#{u_id}, #{l_code})
	
	</insert>
	
	<delete id="DeleteWishList" parameterType="com.learning.User.DTO.WishlistDTO">
	
		DELETE FROM wishlist WHERE u_id = #{u_id} AND l_code = #{l_code}
	
	</delete>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
  </mapper>