<?xml version="1.0" encoding="UTF-8" ?> <!-- 맵퍼파일 -->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="UserMapper">

  	<select id="RecentVideo" parameterType = "String" resultType="com.learning.User.Form.UserAttendanceForm">
  		SELECT * FROM user_lecture_video_attendance_info_view
  		where
  			u_id = #{u_id}
  	</select>
  	
  	<select id="RecentLectureVideo" parameterType="com.learning.User.Form.UserAttendanceForm" resultType="Integer">
  	
  		SELECT v_no FROM lecture_video_attendance 
  		WHERE 
  		va_date = 
  			(SELECT  MAX(va_date) 
  			FROM lecture_video_attendance 
  			WHERE u_id = #{u_id} AND l_code = #{l_code})
  	
  	</select>
  
  	<select id="RegistedLecture" parameterType = "String" resultType = "com.learning.User.Form.ULectureForm">
  		
  		SELECT * from user_lecture_view WHERE u_id = #{u_id} ORDER BY lr_date ASC
  		
  	</select>
  	
  	<select id="RegistrationList" parameterType="String" resultType="com.learning.User.Form.URegiForm">
  	
  		SELECT * FROM user_lecture_registration WHERE u_id = #{u_id}
  	
  	</select>
  	
  	<select id="UCheckRegistration"></select>
  </mapper>