<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <configuration>
  
	<typeAliases>
		<typeAlias type="com.learning.DTO.userDTO" alias="userDTO"/>
		<typeAlias type="com.learning.DTO.NoticeDTO" alias="NoticeDTO"/>
		<typeAlias type="com.learning.DTO.LectureDTO" alias="LectureDTO"/>		
		<typeAlias type="com.learning.DTO.PageDTO" alias="PageDTO"/>		
		<typeAlias type="com.learning.DTO.BannedDTO" alias="bannedDTO"/>		
		<typeAlias type="com.learning.DTO.TeacherDTO" alias="teacherDTO"/>		
	</typeAliases>  
  
  </configuration>